@import '~scss-global';

.ui-posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // posts list
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            background-color: #fff;
            border-radius: 3px;
            overflow: hidden;
            padding: 15px 30px;
            width: 360px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            box-shadow: 0 0 3px 0 rgba($color: #000, $alpha: 0.1);
    
            &__title {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                margin-bottom: 10px;
                text-align: center;
                line-height: 1.3;
            }
    
            &__description {
                font-size: 12px;
                line-height: 1.3;
                text-align: center;
                color: #666;
            }
        }
    }

    &__explore {
        @include ui-button;
        margin-top: 50px;
        flex: 0 0 auto;
        display: block;
    }
}